.ex-body {
  width: 400px;
  margin: 10px;
  padding: 0px 0px 10px 0px;

}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
html,body {
  color: #111;
  font-family: 'Rubik','Helvetica','Arial',sans-serif!important;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background: #f4f4f4;
}
#grids{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.btn {
  cursor: pointer;
}
.icon {
  display: flex;
  padding: 8px;
  align-items: center;
}
.material-icons{
  width: 20px;
  height: 20px;
}
.name{
  font-size: 20px;
  margin-left: 5px;
}
.top-label {
    background: #ed2b2b;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.manu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
  border-bottom: 1px solid #cbd9e2;
  padding-bottom: 6px;
  text-align: justify;
  padding: 10px;
  background: #fff;
}
.title::before{
  content: ' '
}
#header-icons{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}
.title > span {
  padding-bottom: 6px;
  padding-right: 6px;
  color: #333333;
  font-weight: normal;
}
.txtdiv{
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}
.div_myadblock:hover{
  background: #0047ff;
  color: white;
}
.div_myadblock{
  display: flex;
    align-items: stretch;
    padding: 0;
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 36px;
    color: #333333;
}
.cta-description{
  flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    cursor: pointer;
}
.cta-message{    
    font-size: 15px;
    /* margin: 0px 0px 20px 0px; */
    margin: 0 0 0 8px;
    font-family: sans-serif;
    color: ;
}
.cta-close{
  background: #03bcfc;
  border: 0;
  outline: none;
  display: none;
  cursor: pointer;
}
#newText_v2{
    color: white;
    background-color: #03bcfc;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    padding: 1px 5px;
    line-height: normal;
}
.yt:hover{
  background: #e13535;
}
.fb:hover{
  background: #3582e1;
}
.net:hover{
  background: #35e16a;
}
.id{    
    height: 42px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background: #f4f4f4;
    font-size: 15px;
    border: 0.5px solid #c6c6c6;
    color: #333333;
    box-shadow: none;
    cursor: pointer;

}
.info-icons{    
    width: 32px;
    height: 30px;
    padding: 5px;
}
.id:hover{ 
  color: #000;
  box-shadow: 0px 3px 8px 0px #b5b5b587;
}
.footer__heart
{
  color:#ffb3b3;
  -webkit-animation-name:heartbeat;
  animation-name:heartbeat;
  -webkit-animation-duration:1.42857s;
  animation-duration:1.42857s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease;
  animation-timing-function:ease
}
  @-webkit-keyframes heartbeat
{
  0%
{
  color:#ffb3b3
}
  35%
{
  color:#ff1a1a
}
  100%
{
  color:#ffb3b3
}

}
  @keyframes heartbeat
{
  0%
{
  color:#ffb3b3
}
  35%
{
  color:#ff1a1a
}
  100%
{
  color:#ffb3b3
}

}
.devoloperid{
  font-weight: normal;
  cursor: pointer;  
}

